jobs:
  include:
    - language: python
      python: 3.8
      script:
      - npm run python-install
    - language: node_js
      node_js:
      - 14
      services:
      - postgresql
      addons:
        postgresql: '10'
      dist: xenial
      notifications:
        email:
          on_success: change
          on_failure: always
      install:
      - npm ci
      before_script:
      - psql -c 'create database "visivox";' -U postgres
      - npm test
      - npm run build-client
      deploy:
        skip_cleanup: true
        provider: heroku
        app: visivox
        on:
          branch: master
        api_key:
          secure: VNDwBAJ1beP/9Qt4CQEVQqnm/hwXlZK4lvn6/ETXfvWasTvriZIPFiwbU8DzO9zAD5nhhmp/+JLCCO3IG7NMPJg9RqhsAGkkS7WKOkAMkXQcxsMYr2CKgIrdOWvw/Za1fBzK10yJaaB4oFaIC8BLm2LrhqsqddNq8znEqZ5kEHwYDOoCB2XuuCRVaQarQXteEWZx4k28NAbDeZ6TvYKWBRczIRGMMI6Z5j+eQxLGJ+WxtRL48XzeZSqd0vrPDw/3WmAcURE8ezpon6uTtkcSp7aNHCmFQYjxHJtugsfdYIyejgr7rTSUMsEB3g6kC6JazkBHFmdy83XZYTAfegzhqexqlQneD/dCNW+qotQEDphhFk7GGWPKmzdsMnizn5eiYWHb2Er1zK8mg13Lgbdz1rRp3ERUPaRS0LMAucETc9CxKIf4zjnJmacJ+EhVLnPgnqr/aM/4f1NYgiu/Rkdj1jim4Xqt3w1PQkPbN+piC7OgK3uJRT/mkUfrBiIXJYXnSLZaycrtw3EqkDlPwrUuC/0nnylrCBvMsJYGgdcQnoS1WQsp7Q2fsB9tpMBIw2zZTiuXu0TUsQIq4weXai5g7HrzldMUhadgeN7wI2X3ZpoevwyKgmEm0emIOZtImDStsoVOXjpvnztAc04CbZSESdRS+OtlSepgT1uKDBavNqI=

