@font-face {
  font-family: RobotoRegular;
  src: url(fonts/Roboto-Regular.ttf);
}

a {
  text-decoration: none;
}

a:link {
  color: #3B2945;
;
}
a:visited {
  color: #3B2945;
}
a:hover {
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.audioButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
}

body{
  background-color:#f0ead6;
}

/* Record Page Components */
.MuiPaper-root.txtgen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 45%;
}

.MuiContainer-root.recordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.MuiContainer-root.recordButtonParagraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 60px;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu{
  color: #3b2945;
}

.title {
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3b2945;
}

/* Analysis Page Components */
.circleProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.MuiContainer-root.analysisPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiContainer-root.predAndGraphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content:center;
}

.MuiPaper-root.prediction {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-width: 35%;
  max-width: fit-content;
  background-color:#f0ead6;
  color:#3B2945;
  text-align: center;
}

.MuiContainer-root.graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-items: center;
  padding: 1em;
  margin-left:60px;
  margin-right:60px;
  height:inherit;
  width: 50%;
}

.MuiContainer-root.spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.p5Canvas {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

#authMain {
  margin-top:100px;
}

#authform{
  margin-left:50px;
}

#about{
  margin-top:80px;
}

#history{
  margin-top:100px;
}

#prompt{
  margin-left:10px;
  color:#3B2945
}

#record{
  background-color: #9f30e2;
  color:#f0ead6;
}
#newParagraph{
  background-color: #6286a3;
  color:#f0ead6;
}

#stop{
  background-color: #b593c5;;
  color:#f0ead6;
}

#analysis{
  background-color:#60BAAF;
  color:#f0ead6
}


#phrase{
  color: #3b2945;
  background-color:#f0ead6;
}

#centeredText{
  text-align:center;
}

#AnalysesBox{
  background-color:#6286A3
}

#aboutText{
  background-color:#f0ead6;
}

#indivHistory{
  background-color:#f0ead6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#waveform{
  width:550px;
  height:400px;
}

.player{
  background-color: #6286a3;
  text-align:center;
}

.playbutton{
  margin-left:10px;
}

.CI{
  display: flex;
  justify-content:space-around;
}

.google-btn {
    margin: 25px;
    margin-left:67px;
    width: 80%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    margin: 3px 14px 40px 35px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none;
    white-space: nowrap;
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}



/*====Recording Stuff=====*/

#recordstuff{
  display:flex;
  flex-direction: column;
}



.title{
  display:flex;
  flex-direction: row;
}



#visivoxtitle{
  text-decoration: none;
  pointer-events:none;
}


#logolink{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}


/* #micicon{
  width: 5vw;
  height: 7vh;
} */
