html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-self: center;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: gray;
}
a:hover {
  color: #97b498;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.audioButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
}

.recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circleProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

/*copied from juke*/

i {
  color: #00aaaa;
  font-size: 2em;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa00;
}

#player-container {
  position: fixed;
  height: 56px;
  width: 100%;
  bottom: 0;
}

#player-controls {
  background-color: #333;
  box-shadow: 0px -2px 2px #5a5a5a;
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 0.5em;
}

#player-controls i:nth-child(2) {
  font-size: 3em;
}
