@font-face {
  font-family: myFirstFont;
  src: url(Roboto-Black.ttf);
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: gray;
}
a:hover {
  color: #97b498;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.audioButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
}

/* Record Page Components */
.MuiPaper-root.txtgen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 45%;
}

.MuiContainer-root.recordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.MuiContainer-root.recordButtonParagraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-evenly;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Analysis Page Components */
.circleProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.MuiContainer-root.analysisPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiContainer-root.predAndGraphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
}

.MuiPaper-root.prediction {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-width: 35%;
  max-width: fit-content;
}

.MuiContainer-root.graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1em;
  width:fit-content;
}

.MuiContainer-root.spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.p5Canvas {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
