a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: gray;
}
a:hover {
  color: #97b498;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.audioButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
}

.circleProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.txtgen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MuiContainer-root.recordPage {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.MuiContainer-root.recordButtonParagraph {
  border: black 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
